---
layout: layouts/base.liquid
---
<h2>Guide #{{ number }}: {{ title }}</h2>

{% renderTemplate "liquid, md", sections %}
{% if user-stories %}
  ### You should read this if...
  {% for story in user-stories %}
   - {{ story }}
  {% endfor %}
{% endif %}
{% endrenderTemplate %}

{% renderTemplate "liquid, md", sections %}
{% if overview %}
  ### Overview
  {{ overview }}
{% endif %}
{% endrenderTemplate %}

<h3>Instructions</h3>

{{ content }}

{% renderTemplate "liquid, md", sections %}
{% if monetization %}
  ### Could this be a business?
  {{ monetization }}
{% endif %}
{% endrenderTemplate %}

{% renderTemplate "liquid, md", sections %}
{% if next-steps %}
  ### Next Steps
  {% for step in next-steps %}
   - {{ step }}
  {% endfor %}
{% endif %}
{% endrenderTemplate %}

{% renderTemplate "liquid, md", sections %}
{% if changelog %}
  ### Update History
  {% for change in changelog %}
   - {{ change.date }}: {{ change.update }}
  {% endfor %}
{% endif %}
{% endrenderTemplate %}
