---
layout: layouts/base.liquid
---
<h2>Tool: {{ title }}</h2>
{{ content }}

{% assign guides = collections.guides | filterItemsByTag: tag | filterItemsByStatus: statusForFilter %}
{% if guides.length > 0 %}
  <h3>Related Guides</h3>
  <ul>{% for item in guides -%}
    <li><a href="{{ item.data.permalink }}">{{ item.data.title }}</a>{% if item.data.blurb %}: {{ item.data.blurb }}{% endif %}</li>
  {% endfor -%}</ul>
{% endif %}

{% assign tricks = collections.tricks | filterItemsByTag: tag | filterItemsByStatus: statusForFilter %}
{% if tricks.length > 0 %}
  <h3>Related Tricks</h3>
  <ul>{% for item in tricks -%}
    <li><a href="{{ item.data.permalink }}">{{ item.data.title }}</a>{% if item.data.blurb %}: {{ item.data.blurb }}{% endif %}</li>
  {% endfor -%}</ul>
{% endif %}
